/**** Clear default values ****/
*
{
    margin: 0;
    padding: 0;
}


/**** Variables ****/
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --white-red-trace: #ffedf6;
  --pure-black: #000000;
  --purple-light-1: #52057B;
  --purple-light-2: #892CDC;
  --purple-light-3: #BC6FF1;

}

/* **** Tags **** */
canvas {
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1; /* Negative values to lower the priority */
    width: 100vw;
    height: 100vh;
    /* display: block; */
    /* background: url(/images/sky1.2.jpeg) no-repeat center center; */
    /* background-size: cover; */
}

article{
  width: 100vh;
  max-width: 500px;
  word-break: break-all;
    font-family: 'Cabin', sans-serif;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--white-red-trace);
    text-shadow: #ac35f2 1px 1px, #ac35f2 -0px 0px, #ac35f2 -1px 1px, #ac35f2 -2px 2px, #ac35f2 -3px 3px, #ac35f2 -4px 4px, #ac35f2 -5px 5px, #ac35f2 -6px 6px, #ac35f2 -7px 7px, #ac35f2 -8px 8px, #ac35f2 -9px 9px, #ac35f2 -10px 10px, #ac35f2 -11px 11px, #ac35f2 -12px 12px, #ac35f2 -13px 13px, #ac35f2 -14px 14px, #ac35f2 -15px 15px, #ac35f2 -16px 16px, #ac35f2 -17px 17px, #ac35f2 -18px 18px, #ac35f2 -19px 19px, #ac35f2 -20px 20px, #ac35f2 -21px 21px, #ac35f2 -22px 22px, #ac35f2 -23px 23px, #ac35f2 -24px 24px, #ac35f2 -25px 25px, #ac35f2 -26px 26px, #ac35f2 -27px 27px, #ac35f2 -28px 28px, #ac35f2 -29px 29px;
}

/**** Classes ****/

/* NAVBAR */
/* --Menu-- */
.menu {
  display: flex;
  flex-flow: row wrap;
  /* gap: 1rem; */
  justify-content: space-between;
  list-style: none;
  margin: 0; 
  background: var(--purple-light-1);
  background: none;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: var(--purple-light-3);
}

.menu a:hover {
  background: var(--pure-black);
  transition: 0.6s ease;
}

#logo {
  color: black;
  padding: 1rem;
}

#logo:hover {
  color: var(--purple-light-3);
  background: var(--pure-black);
  transition: 0.5s ease;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-light-1);
  background: linear-gradient(to left, var(--purple-light-1), var(--purple-light-2));
}

/* Menu hamburger animation and toggle items */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--pure-black);
  position: absolute;
  height: 7px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 5px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  z-index: 1;
}

/* -- NAVBAR STOP -- */


/* -- CONTENT START -- */
.container-main {
/* For the fullscreen 2 */
  width: 100%;
  height: 100%;
/* For the fullscreen 2 ^*/
  padding-top: 10px;
}

.section {
    min-height: 100vh;
    align-items: center;
    display: flex; 
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--pure-black);
    gap: 10% 10%; 
}

.section-header
{
   text-shadow: 0 0 10px purple, 0 0 20px var(--purple-light-2), 0 0 40px var(--purple-light-3), 0 0 80px  var(--purple-light-1) ;
    font-family: 'Cabin', sans-serif;
    color: #B5FFD9;
    color: black;
    text-transform: uppercase;
    font-size: 7.1vmin;
}

.section-content {
  text-shadow: 0 0 10px purple, 0 0 20px var(--purple-light-2), 0 0 40px var(--purple-light-3), 0 0 80px  var(--purple-light-1) ;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}
/* -- CONTENT STOP -- */

/**** RESPONSIVENESS START ****/

/* Medium screens */
@media all and (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    justify-content: space-around;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 3.5s linear;
  }
  #menu-toggle ~ .menu li {
    opacity: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity .15s linear;
  }
  #menu-toggle:checked ~ .menu li {
    opacity: 1;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1), opacity .25s linear;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--pure-black);
    background-color: var(--purple-light-1);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--pure-black);
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  .menu {
    flex-flow: column wrap;
    display: block;
    padding-bottom: 0.7rem;
  }
  .section {
    flex-direction: column;
  }
  .section-header {
    margin-bottom: 2rem;
  }
}

/**** RESPONSIVENESS STOP ****/
